[core]
repositoryformatversion = 0
filemode = false
bare = false
logallrefupdates = true
symlinks = false
ignorecase = true
[remote "origin"]
url = https://3gwebtrain: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@github.com/3gwebtrain/redux-tool-ts-thunk.git
fetch = +refs/heads/*:refs/remotes/origin/*
[user]
email = 3gwebtrain@gmail.com
[branch "master"]
remote = origin
merge = refs/heads/master